@import "mixins/vars";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  white-space: normal;
  word-break: break-all;
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $mediumgray;
  margin-top: 0;
  margin-bottom: 75px;
}

ul > li > a {
  font-weight: 600;
}
