@import "mixins/vars";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

pre {
  white-space: normal;
  word-break: break-all;
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $mediumgray;
  margin-top: 0;
  margin-bottom: 75px;
}
