@import "mixins/vars";
@import "mixins/text";

.l-page {
  max-width: 730px;
  padding: 0 15px 15px;
  width: 100%;
  margin: 0 auto;
}

.l-page > h1 {
  @include page-title-display;
}

.l-page > h2 {
  @include section-head-display;
}

.l-page > h3 {
  @include sub-head-display;
}

.l-page {
  @include page-copy;
}

.l-page a[href] {
  color: $teal;
  text-decoration: none;
}

.l-page > blockquote {
  font-style: oblique;
}

.l-header {
  text-align: center;
}

.site-title {
  font-size: 36px;
  font-weight: 400;
}

.l-footer {
  padding: 35px 10px;
  text-align: center;
  background: $lightgray;

  > a {
    color: $gray;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
  }
}
