@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.ember-modal-dialog {
  max-width: 80%;
}

@import "base";
@import "components/module-embed";
@import "components/messaging-frame";
@import "components/labelled-input";

@import "mixins/text";

.l-page {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.l-header {
  text-align: center;
}

.iframe-label {
  @include small-text-display;
}
