@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:600');

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.ember-modal-dialog {
  max-width: 60%;
}

@import "base";
@import "layout-and-text";
@import "components/module-embed";
@import "components/embed-dialog";
@import "components/messaging-frame";
@import "components/labelled-input";
@import "components/copy-block";
@import "components/site-header";

@import "mixins/text";

.l-page {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.l-header {
  text-align: center;
}

.site-title {
  font-size: 36px;
  font-weight: 400;
}

.iframe-label {
  @include small-text-display;
}
