@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:600');

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.ember-modal-dialog {
  max-width: 60%;
}

@import "base";
@import "layout-and-text";
@import "components/module-embed";
@import "components/embed-dialog";
@import "components/messaging-frame";
@import "components/labelled-input";
@import "components/labelled-checkbox";
@import "components/labelled-dropdown";
@import "components/labelled-textarea";
@import "components/copy-block";
@import "components/site-header";
@import "components/auth-dialog";
@import "components/list-input";

@import "mixins/text";
@import "mixins/vars";

.iframe-label {
  @include small-text-display;
}

.help-text {
  @include small-text-display;
  line-height: 1.67;
  margin-bottom: 25px;
}

$ember-power-select-default-border-radius: 0;
$ember-power-select-border-color: $mediumgray;
$ember-power-select-trigger-icon-color: $teal;
$ember-power-select-text-color: $teal;
$ember-power-select-trigger-ltr-padding: 6px 30px 6px 0px;

@import "ember-power-select";
