{{yield
  (component 'messaging-frame' register=(action 'register'))
  (action 'postMessage')}}

  
<div class="module-embed__footer">
  <button class="module-embed__button" {{action 'generate'}}>generate</button>
</div>

{{#if showDialog}}
  {{#modal-dialog onClose=(action (mut showDialog) false) targetAttachment="center" translucentOverlay=true}}
    <pre class="module-embed__markup">
      &lt;div data-pym-src="{{embedCode}}"&gt;Loading...&lt;/div&gt;<br />
      &lt;script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"&gt;&lt;/script&gt;
    </pre>
  {{/modal-dialog}}
{{/if}}
