{{yield (hash
  header=(component 'module-embed/header')
  column=(component 'module-embed/column')
  generateButton=(component 'module-embed/generate' click=(action 'generate'))
  iframe=(component 'messaging-frame' register=(action 'register'))
  input=(component 'labelled-input' onInput=(action 'postMessage') subscriptions=subscriptions subscribe=(action subscribe))
  checkbox=(component 'labelled-checkbox' onChange=(action 'postMessage'))
  dropdown=(component 'labelled-dropdown' onChange=(action 'postMessage'))
  textarea=(component 'labelled-textarea' onInput=(action 'postMessage'))
  hidden=(component 'hidden-input' onChange=(action 'postMessage'))
  list=(component 'list-input' onInput=(action 'postMessage') subscriptions=subscriptions subscribe=(action subscribe))
  changeset=changeset
)}}

{{#if showDialog}}
  {{#modal-dialog onClose=(action (mut showDialog) false) targetAttachment="center" translucentOverlay=true containerClass="embed-dialog" overlayClass="embed-dialog__overlay"}}
    <div class="embed-dialog__header">
      <h3 class="embed-dialog__title">Almost done</h3>
      <p class="embed-dialog__blurb">Now you just have to copy this code and place it on the webpage where you want the tool to appear:</p>
    </div>

    <div class="embed-dialog__markup">
      {{#copy-block~}}
&lt;div data-pym-src="{{embedCode}}"&gt;Loading...&lt;/div&gt;
&lt;script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"&gt;&lt;/script&gt;
      {{~/copy-block}}
    </div>

    <div class="embed-dialog__close">
      <button {{action (action (mut showDialog) false)}}>{{close-icon}}</button>
    </div>
  {{/modal-dialog}}
{{/if}}
