{{yield
  (component 'messaging-frame' register=(action 'register'))
  (action 'postMessage')}}

  
<div class="module-embed__footer">
  <button class="module-embed__button" {{action 'generate'}}>generate</button>
</div>

{{#if showDialog}}
  {{#modal-dialog onClose=(action (mut showDialog) false) targetAttachment="center" translucentOverlay=true}}
    <pre class="module-embed__markup">
      &lt;iframe width="100%" src="{{embedCode}}"&gt;&lt;/iframe&gt;
    </pre>
  {{/modal-dialog}}
{{/if}}
