@import "../mixins/vars";
@import "../mixins/buttons";

.copy-block__input {
  display: block;
  background: none;
  width: 100%;
  border: none;
  resize: none;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
  
  &:active,
  &:focus {
    outline: none;
  }
}

.copy-block__button {
  @include blank-btn;
  
  color: $teal;
  font-weight: bold;
  font-size: 14px;
}
