@import "../mixins/vars";
@import "../mixins/text";

.labelled-checkbox {
  display: flex;
  margin-bottom: 25px;
}

.labelled-checkbox__checkbox {
  flex-basis: 22px;
  text-align: left;
  margin: 4px 8px 0 0;

  &.has-error {
    border-color: $red;
  }
}

.labelled-checkbox__text {
  display: block;
  color: $darkgray;
  flex-grow: 1;
  @include small-text-display;
  line-height: 1.67;
  font-weight: 600;
}

.labelled-checkbox__errors {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $red;
  font-size: 12px;
}
