@import "../mixins/vars";
@import "../mixins/buttons";

.messaging-frame__target {
  margin-bottom: 15px;
}

.messaging-frame__footer {
  text-align: right;
  vertical-align: middle;
  font-size: 12px;
  
  color: #999;
}

.messaging-frame__button {
  @include blank-btn;
  
  color: #999;
  
  &.active {
    color: $teal
  }
}
