@import "../mixins/vars";
@import "../mixins/buttons";

.messaging-frame__target {
  margin-bottom: 15px;
}

.messaging-frame__footer {
  text-align: right;
  vertical-align: middle;
  font-size: 12px;
  
  color: $gray;
}

.messaging-frame__button {
  @include blank-btn;
  
  color: $gray;
  
  &:hover {
    border-bottom: 1px solid $gray;
    
    &[disabled] {
      border: none;
    }
  }
  
  &.active {
    color: $teal;
    
    &:hover {
      border-bottom: 1px solid $teal;
      
      &[disabled] {
        border: none;
      }
    }
  }
}
