@import "../mixins/vars";
@import "../mixins/buttons";

.module-embed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

.module-embed__header {
  flex-basis: 100%;
}

.module-embed__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.38;
  margin-bottom: 14px;
}

.module-embed__blurb {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 55px;
}

.module-embed__column {
  flex: 0 1 48%;
  margin-bottom: 25px;
  
  &.is-wide {
    flex-basis: 100%;
  }
}

.module-embed__footer {
  text-align: center;
  flex-basis: 100%;
}

.module-embed__button {
  @include btn;
  padding: 15px;
  background-color: $teal;
  color: white;
  
  display: block;
  width: 100%;
}
