<div class="labelled-dropdown__label">{{label}}</div>

{{#power-select
  searchEnabled=false
  options=options
  selected=selected
  onchange=(action 'onChange') as |item|}}
  {{item.label}}
{{/power-select}}
