{{input
  type="checkbox"
  class="labelled-checkbox__checkbox"
  hasError=(if (get changeset.error key) true)
  change=(action (mut (get changeset key)) (not (get changeset key)))
  name=key
}}
<span class="labelled-checkbox__text">{{label}}</span>

{{#if (get changeset.error key)}}
  <ul class="labelled-checkbox__errors">
    {{#each (get (get changeset.error key) 'validation') as |message|}}
    <li>
      {{message}}
    </li>
    {{/each}}
  </ul>
{{/if}}