{{#if isStaff}}
{{#site-header as |nav|}}
  {{nav.link 'Get Started' 'get-started'}}
  {{nav.link 'Tools' 'tools'}}
  {{nav.link 'Create' 'create'}}
{{/site-header}}
{{/if}}

<div class="l-page">
  {{outlet}}
</div>

<footer class="l-footer">
  <a href="mailto:digitalops@nypublicradio.org" target="_blank">Contact</a>
</footer>
