{{md-text html=true text="
# Getting Started

This toolkit is a guide to NYPR tools and external tools that can facilitate engagement with listeners. It is aimed at producers, hosts, and anyone who wants to grow listenership, increase audience participation and community, increase donations, or tell a story in a more interactive or engaging format.

NYPR has defined a step-by-step process to help you engage with your audience:

1. <a href=\"#identify-your-goals\">Identify your goal(s)</a>
1. <a href=\"#identify-audience-goals\">Identify your audience’s goals</a>
1. <a href=\"#find-an-approach\">Find an engagement approach that matches both goals</a>
1. <a href=\"#get-it-out-there\">Promote your project</a>
1. <a href=\"#learn-from-data\">Learn from the data</a>

## <a name=\"identify-your-goals\">Identify your goal(s)</a>
Identifying your goals will help you identify what tools you need to use to achieve those goals.
What do you hope to gain by engaging with your audience, from a business perspective? Maybe you want to:

* *increase pageviews*
* *gather feedback for a story*
* *increase newsletter subscribers or live event attendees*
* *grow your social media reach including shares and comments*
* *increase your video views, livestream listens or on-demand listens*
* *increase monthly or weekly active users*

You may want to complete this <a href="https://docs.google.com/document/d/1gJtjVhNWH6Lx1NoGyRW37iSI1Q9ruAQiuUg6yDy6D50/edit">Project Brief</a> to help you think through everything.

## <a name=\"identify-audience-goals\">Identify your audience's goal(s)</a>

What is your audience hoping to gain by engaging with you? Sometimes the answer to this is simple: my audience loves the show so much that they just want to give me feedback all the time. But in other cases, it may be more complex.

Some examples of goals your audience might have:

* *I want to feel connected to other listeners.*
* *I want to be reminded to tune in to an upcoming livestream event.*
* *I want to share my story.*

It’s important to keep in mind that if you’re asking your audience to give you something personal such as an email, you often have to give them an incentive. An incentive in this case might be a follow-up email with bonus content or information.

## <a name=\"get-it-out-there\">Get your engagement tool out there</a>
Many of the tools in this toolkit provide an interface for your users. A lot of them are free and easy to set up. You can link to them or embed them in story pages or link to them from social media. You can also promote the tool in podcasts or on air. 

To expand the reach of your project, don’t hesitate to reach out to Audience Development, Marketing, Membership and the Digital team. 

"}}
