{{md-text html=true text="
# Tools

When trying to find the right tool, it’s helpful to think about what you want to accomplish with a tool. I want to...

1. <a href=\"#gather\">Gather info, data, or stories from listeners</a>
1. <a href=\"#display\">Display content I’ve received from listeners</a>
1. <a href=\"#create\">Create a community around listeners</a>
1. <a href=\"#engage\">Engage in real-time with listeners</a>
1. <a href=\"#remind\">Keep listeners reminded or up-to-date</a>

## <a name=\"gather\">Gather info, data, or stories from listeners</a>

### Text-Message Tools

Upland Mobile Messaging (previously “Mobile Commons”)

Examples in use: Note to Self’s Ghosted project reminders, Radiolab Eclipse engagement reminders, Death Sex & Money’s Class project poll. Projects were scheduled and set up to to provide reminders about user assignments and get user feedback. Podcasts also periodically do membership call-outs asking listeners to text a number for the link to the donation form).

To set up a text messaging campaign, reach out to <a href="mailto:mchaplin@nypublicradio.org">Michael Chaplin</a>. 


### Form-Based Tools

Typeform

Create simple quizzes or complex, customizable quizzes that adjust based on the user’s response. When the user has submitted their email, customized follow-up emails can be sent to the user.

Examples in use: Death, Sex & Money’s <a href="https://project.wnyc.org/death-sex-money-podcast-student-loans/">Student Loan Project</a>. Kids shows <a href="https://wnyc.typeform.com/to/hW9YuB">feedback surveys</a>. 

Questions best practices: 
* Ask your users for the engagement piece first, especially if it’s a higher barrier to entry ask than simple text. 
* Always include email as a question on your Typeform. Try to always make this question required. 
* When asking for user emails make sure to include the following language in the description: 
** We will only use your email in accordance with WNYC's Privacy Policy: wnyc.org/privacy.
** We will only use your email in accordance with WQXR’s Privacy Policy: wqxr.org/privacy.
** We will only use your email in accordance with New Sounds’ Privacy Policy: newsounds.org/privacy.
** We will only use your email in accordance with WNYC Studios’ Privacy Policy: wnycstudios.org/privacy.
* When asking a user gender please word the question as such: 
** Which best represents your gender?
** Female
** Male
** Transgender
** Gender non-conforming
** Prefer not to say

*For access to Typeform, email <a href="mailto:digitalops@wnyc.org">digitalops@wnyc.org</a>.*

Qzzr

An alternative to Typeform for creating quizzes is Qzzr. 
Examples: <a href="https://www.wnyc.org/story/quiz-how-change-law/">How to Change a Law story with quiz</a>.

*For access to Qzzr, email [digitalops@wnyc.or(mailto:digitalops@wnyc.org).*

*For access to Qzzr, email <a href="mailto:digitalops@wnyc.org">digitalops@wnyc.org</a>.*


### Audio-Based Tools

Audio Capture Crowdsourcing tool

An internal tool which allows us to collect audio recordings from member of your audience from either a desktop computer or mobile device. The user can record themselves telling a story, asking a question, or giving feedback. Or, you can provide them with a script that they can record themselves reading.
Note: there are some technical limitations around which browsers/operating systems this tool will work in.
Example: Radiolab’s <a href="https://apps.nypr.org/crowdsourcing/5">Read Our Credits</a> asks listeners to record themselves reading the show’s credits.

*For access to the Audio Capture Crowdsourcing tool, email <a href="mailto:digitalops@wnyc.org">digitalops@wnyc.org</a>.*


NYPR Digital Inbox

Lorem ipsum dolor sed amet.

## <a name=\"#display\">Display content I’ve received from listeners</a>

## <a name=\"#create\">Create a community around listeners</a>

## <a name=\"#engage\">Engage in real-time with listeners</a>

## <a name=\"#remind\">Keep listeners reminded or up-to-date</a>

"}}
