{{md-text html=true text="
# Tools

When trying to find the right tool, it’s helpful to think about what you want to accomplish with a tool. I want to...

1. <a href=\"#gather\">Gather info, data, or stories from listeners</a>
1. <a href=\"#display\">Display content I’ve received from listeners</a>
1. <a href=\"#create\">Create a community around listeners</a>
1. <a href=\"#engage\">Engage in real-time with listeners</a>
1. <a href=\"#remind\">Keep listeners reminded or up-to-date</a>

## <a name=\"gather\">Gather info, data, or stories from listeners</a>

### Text-Message Tools

Upland Mobile Messaging (previously “Mobile Commons”)

Examples in use: Note to Self’s Ghosted project reminders, Radiolab Eclipse engagement reminders, Death Sex & Money’s Class project poll. Projects were scheduled and set up to to provide reminders about user assignments and get user feedback. Podcasts also periodically do membership call-outs asking listeners to text a number for the link to the donation form).


### Form-Based Tools

Typeform

Create simple quizzes or complex, customizable quizzes that adjust based on the user’s response. When the user has submitted their email, customized follow-up emails can be sent to the user.
Examples: Death, Sex & Money’s Student Loan Project.

Qzzr

Examples: How to Change a Law story


### Audio-Based Tools

Audio Capture Tool

An internal tool which allows us to collect audio recordings from member of your audience from either a desktop computer or mobile device. The user can record themselves telling a story, asking a question, or giving feedback. Or, you can provide them with a script that they can record themselves reading.
Note: there are some technical limitations around which browsers/operating systems this tool will work in.
Example: Radiolab’s Read Our Credits asks listeners to record themselves reading the show’s credits.

NYPR Digital Inbox

Lorem ipsum dolor sed amet.

## <a name=\"#display\">Display content I’ve received from listeners</a>

## <a name=\"#create\">Create a community around listeners</a>

## <a name=\"#engage\">Engage in real-time with listeners</a>

## <a name=\"#remind\">Keep listeners reminded or up-to-date</a>

"}}
